<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.buaa.vehiclemanagementsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="edu.buaa.vehiclemanagementsystem.VMS_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b43dfc66db869ffdc9a61f7eb24155d5" />

        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.LoginActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.tabs.HomeActivity_" />
        <!-- tabs -->
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.tabs.LocationActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.tabs.LocusActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.tabs.StateActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.tabs.MoreActivity_" />
        
        <!-- lists -->
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.TerminalListActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.FunctionActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.GroupListActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.StateListActivity_" />
        
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.LocationListActivity_" />
        
        <!-- others -->
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.ChooseLocationActivity_" />
        <activity android:name="edu.buaa.vehiclemanagementsystem.view.activity.TabActivity_" />
    </application>

</manifest>